<% layout("/layouts/boilerplate") %>

<style>

/* FILTER BAR */

#filters{
display:flex;
justify-content:center;
align-items:center;
flex-wrap:wrap;
gap:2rem;
margin-top:1.5rem;
margin-bottom:1rem;
}


/* FILTER ITEM */

.filter{
text-align:center;
opacity:0.8;
transition:0.3s;
}


/* ICON CIRCLE */

.icon-box{
width:50px;
height:50px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
background:#e8e6e6fe;
font-size:1.3rem;
transition:0.3s;
}


/* HOVER EFFECT */

.filter:hover{
opacity:1;
transform:scale(1.08);
}

.filter:hover .icon-box{
background:#3b82f6 !important;
color:white;
}


/* TEXT */

.filter p{
font-size:0.8rem;
margin-top:6px;
color:#444;
}


/* LISTING CARD STYLE */

.listing-card{
transition: all 0.3s ease;
border-radius:12px;
overflow:hidden;
border: hidden !important; 
background-color: white;
}


 .listing-card:hover{
 border: hidden !important;
transform: translateY(-5px);
 box-shadow: 0 8px 20px #ffff; 
} 


</style>



<div id="filters">

<!-- PG -->

<div class="filter">
<a href="/listings/category/PG" class="nav-link">
<div class="icon-box">
<i class="fa-solid fa-house-user"></i>
</div>
</a>
<p>PG</p>
</div>


<!-- HOSTEL -->

<div class="filter">
<a href="/listings/category/Hostel" class="nav-link">
<div class="icon-box">
<i class="fa-solid fa-building"></i>
</div>
</a>
<p>Hostel</p>
</div>


<!-- SINGLE ROOM -->

<div class="filter">
<a href="/listings/category/Single Room" class="nav-link">
<div class="icon-box">
<i class="fa-solid fa-bed"></i>
</div>
</a>
<p>Single Room</p>
</div>


<!-- SHARED ROOM -->

<div class="filter">
<a href="/listings/category/Shared Room" class="nav-link">
<div class="icon-box">
<i class="fa-solid fa-users"></i>
</div>
</a>
<p>Shared Room</p>
</div>


<!-- APARTMENT -->

<div class="filter">
<a href="/listings/category/Apartment" class="nav-link">
<div class="icon-box">
<i class="fa-solid fa-city"></i>
</div>
</a>
<p>Apartment</p>
</div>


<!-- STUDIO -->

<div class="filter">
<a href="/listings/category/Studio" class="nav-link">
<div class="icon-box">
<i class="fa-solid fa-door-open"></i>
</div>
</a>
<p>Studio</p>
</div>

</div>



<div class="page-content container">

<% if (allListing.length === 0) { %>

<div class="alert alert-warning text-center mt-5">
<div class="mt-3 mb-3 text-center">
😕 No listings found matching your search filters!
</div>
</div>

<% } else { %>



<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

<% for (const listing of allListing) { %>

<a href="/listings/<%= listing._id %>" class="text-decoration-none ">

<div class="card listing-card">

<img
src="<%= listing.image.url %>"
class="card-img-top"
alt="listing"
style="height:14rem; object-fit:cover;"
>

<div class="card-body">

<p class="card-text">

<b><%= listing.title %></b>

<% if(showCategory){ %>

<span class="badge bg-secondary mb-2">
<%= listing.category %>
</span>

<% } %>

<br>

₹ <%= listing.price ? listing.price.toLocaleString("en-IN"): "N/A" %> / month

</p>

</div>

</div>

</a>

<% } %>

</div>

<% } %>

</div>